.CommentBtn{
    height: 50px;
    width: 50px;
    font-size: 32px;
    border: none;
    outline: none;
    border-radius: 50px;
    display: flex;
    place-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #00F59B;
    cursor: pointer;
}

.CommentBtn:active{
    filter: brightness(0.8);
}